.post {
  position: relative;
  display: flex;
  flex-direction: column;
}

.post__main p {
  padding-bottom: 12px;
  line-height: 1.7;
}

.post__main h1,
.post__main h2,
.post__main h3,
.post__main h4 {
  font-weight: bold;
  padding-bottom: 8px;
  line-height: 1.4;
}

.post__main h1 {
  font-size: 1.7rem;
}
.post__main h1[style*="text-align"] {
  text-align: inherit !important;
}

.post__main h2 {
  font-size: 1.5rem;
}

.post__main h3 {
  font-size: 1.2rem;
}

.post__main h4 {
  font-size: 1rem;
}

.post__main ul,
.post__main ol {
  margin-left: 25px;
  margin-bottom: 12px;
  list-style: initial;
}

.post__main li {
  padding-bottom: 8px;
}

.post__main a {
  color: blueviolet;
  text-decoration: underline;
}

.post__main img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1em auto;
}

.post__main figcaption {
  padding: 5px 0 8px;
  text-align: center;
  font-weight: 400;
  font-style: italic;
}

.post__main table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

.post__main th,
.post__main td {
  border: 1px solid black;
  padding: 6px;
  text-align: left;
}

.post__heading {
  padding-bottom: 12px;
  margin: 0 16px 24px;
  /* mobile default */
  color: black;
  font-weight: 700;
}

@media (min-width: 768px) {
  .post__heading {
    margin: 0 40px 24px;
    /* tablet */
  }
}

@media (min-width: 1280px) {
  .post__heading {
    margin: 0 75px 24px;
    /* desktop */
  }
}

.post__heading h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
}

.not-found {
  padding-top: 62px;
  text-align: center;
}

.not-found p {
  font-weight: 600;
  padding-bottom: 24px;
  font-size: 1.2rem;
}

.not-found a {
  color: red;
  display: block;
}

@media (min-width: 1280px) {
  .post {
    flex-direction: row;
  }

  .post--share {
    padding-top: 24px;
    margin-right: 24px;
    margin-left: -72px;
    right: 100%;
  }
}

@media (min-width: 1600px) {
  .not-found p {
    font-size: 2rem;
  }
}